In [1]:
import pandas as pd 
import os
# Set the maximum number of rows and columns to display
pd.set_option('display.max_rows', 200)  # Adjust this number as needed
pd.set_option('display.max_columns', 50)  # Adjust this number as needed

In [2]:
def get_weekly_day_hour(df):
    # Convert EVENT_START_BOSTON column to datetime
    df['EVENT_START_BOSTON'] = pd.to_datetime(df['EVENT_START_BOSTON'])
    
    df['START_HOUR'] = df['EVENT_START_BOSTON'].dt.hour

    # Add a new column for the day of the week
    df['DAY_OF_WEEK'] = df['EVENT_START_BOSTON'].dt.day_name()
    return df

def get_event_duration(df):
    df['EVENT_START_BOSTON'] = pd.to_datetime(df['EVENT_START_BOSTON'])
    df['EVENT_END_BOSTON'] = pd.to_datetime(df['EVENT_END_BOSTON'])

    df['EVENT_DURATION'] = df['EVENT_END_BOSTON'] - df['EVENT_START_BOSTON']

    return df

In [3]:
import os
# List all files in the folder
folder_path = '../../data_CityEvent/processed/1.5.3_events_join_w_mobility/'
file_names = os.listdir(folder_path)

# file_names.remove('unscheduled_intermediate') 
# file_names.remove('archive_before_dropping_missing_geometry') 
for file_name in file_names:
    print(file_name)

attended_community_hourly_visits.csv
attended_concerts_hourly_visits.csv
attended_conferences_hourly_visits.csv
attended_expos_hourly_visits.csv
attended_festivals_hourly_visits.csv
attended_performing-arts_hourly_visits.csv
attended_sports_hourly_visits.csv
non_attended_academic_hourly_visits.csv
non_attended_daylight-savings_hourly_visits.csv
non_attended_observances_hourly_visits.csv
non_attended_politics_hourly_visits.csv
non_attended_public-holidays_hourly_visits.csv
non_attended_school-holidays_hourly_visits.csv
unscheduled_airport-delays_hourly_visits.csv
unscheduled_disasters_hourly_visits.csv
unscheduled_health-warnings_hourly_visits.csv
unscheduled_severe-weather_hourly_visits.csv
unscheduled_terror_hourly_visits.csv

In [4]:
import os
import pandas as pd
for file_name in file_names:
    current_df = pd.read_csv(os.path.join(folder_path, file_name))

    current_df = get_event_duration(current_df)
    print(f'After event duration transformation: {current_df.shape}')
    current_df = get_weekly_day_hour(current_df)
    print(f'After weekly-hour transformation: {current_df.shape}')

    # Group by DAY_OF_WEEK, START_HOUR, and BGFIPS
    result = current_df.groupby(['DAY_OF_WEEK', 'START_HOUR', 'BGFIPS']).agg(
        TOTAL_VISITS=('Visits_Mobility', 'sum'),
        AVG_VISITS=('Visits_Mobility', 'mean'),
        EVENTS_COUNT=('EVENT_ID', 'count')  # Count the number of events
    ).reset_index()
    
    # print shape
    print(f'Result shape: {result.shape}')

    display(result.head())   

    # # save result
    result.to_csv(f'../../data_CityEvent/processed/1.5.4_avg_visits_across_day_of_week_at_cbgid_hour_of_day/avg_visits_{file_name}', index=False)

After event duration transformation: (144249, 9)
After weekly-hour transformation: (144249, 11)
Result shape: (11164, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60014229002           7.0    2.333333             3
1      Friday           0  60330013003           0.0    0.000000             4
2      Friday           0  60371252002           2.0    2.000000             1
3      Friday           0  60372032002           0.0    0.000000             1
4      Friday           0  60372374012           0.0    0.000000             1

After event duration transformation: (149681, 9)
After weekly-hour transformation: (149681, 11)
Result shape: (28258, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60014251022           1.0         1.0             1
1      Friday           0  60190064052           2.0         2.0             1
2      Friday           0  60290037001           5.0         2.5             2
3      Friday           0  60372071021           4.0         4.0             1
4      Friday           0  60372071032           2.0         1.0             2

After event duration transformation: (333740, 9)
After weekly-hour transformation: (333740, 11)
Result shape: (5978, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60014273005          15.0    1.666667             9
1      Friday           0  60014287002          15.0    5.000000             3
2      Friday           0  60350403023           0.0    0.000000             6
3      Friday           0  60372074001         937.0  117.125000             8
4      Friday           0  60372227001         257.0   42.833333             6

After event duration transformation: (146568, 9)
After weekly-hour transformation: (146568, 11)
Result shape: (2451, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60371902022          19.0    6.333333             3
1      Friday           0  60371908022         137.0    6.227273            22
2      Friday           0  60374803023         668.0    8.455696            79
3      Friday           0  60375760011        5089.0   90.875000            56
4      Friday           0  60590115042         184.0   61.333333             3

After event duration transformation: (364003, 9)
After weekly-hour transformation: (364003, 11)
Result shape: (5882, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60014048002           2.0    0.500000             4
1      Friday           0  60372060312        5154.0   66.076923            78
2      Friday           0  60590744031          46.0   23.000000             2
3      Friday           0  60710026061          53.0    4.416667            12
4      Friday           0  60770044041         663.0   82.875000             8

After event duration transformation: (107169, 9)
After weekly-hour transformation: (107169, 11)
Result shape: (7442, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60371891011           1.0         0.5             2
1      Friday           0  60371901002          37.0        18.5             2
2      Friday           0  60371908022          70.0        17.5             4
3      Friday           0  60371910001           0.0         0.0             3
4      Friday           0  60372074001         321.0        21.4            15

After event duration transformation: (199768, 9)
After weekly-hour transformation: (199768, 11)
Result shape: (5097, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  60133521023           2.0         2.0             1
1      Friday           0  60290028061          12.0        12.0             1
2      Friday           0  60371151031           9.0         9.0             1
3      Friday           0  60378004101           2.0         2.0             1
4      Friday           0  60590115042           0.0         0.0             1

After event duration transformation: (6334657, 9)
After weekly-hour transformation: (6334657, 11)
Result shape: (1395, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           2  60375736015           0.0         0.0             2
1      Friday           2  60710021091          20.0        20.0             1
2      Friday           3  60590525171           0.0         0.0             1
3      Friday           3  60590751001           0.0         0.0             1
4      Friday           3  60730056002           0.0         0.0             1

After event duration transformation: (150, 9)
After weekly-hour transformation: (150, 11)
Result shape: (2, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Sunday,6,201259507005,0.0,0.0,78
1,Sunday,7,201259507005,0.0,0.0,72

After event duration transformation: (32050, 9)
After weekly-hour transformation: (32050, 11)
Result shape: (13, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Friday,3,60190064033,851.0,11.346667,75
1,Friday,3,201259507005,0.0,0.000000,4375
2,Monday,3,60190064033,1393.0,27.860000,50
3,Monday,3,201259507005,0.0,0.000000,4900
4,Saturday,3,60190064033,1709.0,17.090000,100

After event duration transformation: (150, 9)
After weekly-hour transformation: (150, 11)
Result shape: (1, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Tuesday,3,201259507005,0.0,0.0,150

After event duration transformation: (2400, 9)
After weekly-hour transformation: (2400, 11)
Result shape: (14, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Friday,3,60190064033,3838.0,11.809231,325
1,Friday,3,201259507005,0.0,0.000000,175
2,Monday,3,60190064033,6639.0,14.753333,450
3,Monday,3,201259507005,0.0,0.000000,600
4,Saturday,3,60190064033,6774.0,33.870000,200

After event duration transformation: (7880131, 9)
After weekly-hour transformation: (7880131, 11)
Result shape: (2050, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           3  60014066022        8902.0    2.128647          4182
1      Friday           3  60014223003        1128.0    3.876289           291
2      Friday           3  60014261004        9854.0    2.698987          3651
3      Friday           3  60014286001        5411.0    2.421029          2235
4      Friday           3  60014301021        7991.0   10.364462           771

After event duration transformation: (2431034, 9)
After weekly-hour transformation: (2431034, 11)
Result shape: (75188, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  10330207012           0.0         0.0            22
1      Friday           0  10450214003           0.0         0.0             4
2      Friday           0  10730004005           0.0         0.0           122
3      Friday           0  10810411004           0.0         0.0             5
4      Friday           0  10890112002           0.0         0.0            60

After event duration transformation: (68773, 9)
After weekly-hour transformation: (68773, 11)
Result shape: (5690, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  20160001001           0.0         0.0             2
1      Friday           0  21000001001           0.0         0.0             2
2      Friday           0  21700002002           0.0         0.0             2
3      Friday           0  40050015003           0.0         0.0             8
4      Friday           0  40050020002           0.0         0.0             2

After event duration transformation: (559560, 9)
After weekly-hour transformation: (559560, 11)
Result shape: (323, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Friday,4,90093451001,0.0,0.0,25
1,Friday,4,100010429001,0.0,0.0,3002
2,Friday,4,121050147012,0.0,0.0,3507
3,Friday,4,181590203002,0.0,0.0,25
4,Friday,4,230259653023,0.0,0.0,50

After event duration transformation: (2101445, 9)
After weekly-hour transformation: (2101445, 11)
Result shape: (131895, 6)

  DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS  EVENTS_COUNT
0      Friday           0  10030103002           0.0         0.0            31
1      Friday           0  10139532003           0.0         0.0             8
2      Friday           0  10259580021           0.0         0.0             8
3      Friday           0  10330207013           0.0         0.0             2
4      Friday           0  10359604003           0.0         0.0             2

After event duration transformation: (13132, 9)
After weekly-hour transformation: (13132, 11)
Result shape: (1853, 6)

,DAY_OF_WEEK,START_HOUR,BGFIPS,TOTAL_VISITS,AVG_VISITS,EVENTS_COUNT
0,Friday,0,90035033002,0.0,0.0,2
1,Friday,0,120570021003,0.0,0.0,2
2,Friday,0,120860095034,0.0,0.0,2
3,Friday,0,170312312002,0.0,0.0,2
4,Friday,0,220510202031,0.0,0.0,2

In [22]:
print('done')

done

In [5]:
# Test
x = pd.read_csv('../../data_CityEvent/processed/1.5.4_avg_visits_across_day_of_week_at_cbgid_hour_of_day/avg_visits_attended_community_hourly_visits.csv')
display(x.shape)

(11164, 6)

In [9]:
display(x.head())

   Unnamed: 0 DAY_OF_WEEK  START_HOUR       BGFIPS  TOTAL_VISITS  AVG_VISITS
0           0      Friday           0  60014229002           7.0    2.333333
1           1      Friday           0  60330013003           0.0    0.000000
2           2      Friday           0  60371252002           2.0    2.000000
3           3      Friday           0  60372032002           0.0    0.000000
4           4      Friday           0  60372374012           0.0    0.000000

In [63]:
print(x['Avg_Visits'].describe())

count    11164.000000
mean        19.570982
std         72.376833
min          0.000000
25%          1.000000
50%          5.142857
75%         17.000000
max       3054.000000
Name: Avg_Visits, dtype: float64

In [60]:
### experiment to write above code structure

In [11]:
df = pd.read_csv('../../data_CityEvent/processed/1.5.3_events_join_w_mobility/attended_community_hourly_visits.csv')
print(df.shape)

(144249, 8)

In [12]:
df[:2]

,EVENT_ID,BGFIPS,geometry,EVENT_START_BOSTON,EVENT_END_BOSTON,CATEGORY,Date,Visits_Mobility
0,Q8qTSY8YLfHCpz65tE,60133390023,POINT (-122.064 37.9089),2021-12-04 06:00:00,2021-12-04 09:00:00,community,2021-12-04 06:00:00,12.0
1,Q8qTSY8YLfHCpz65tE,60133390023,POINT (-122.064 37.9089),2021-12-04 06:00:00,2021-12-04 09:00:00,community,2021-12-04 07:00:00,25.0

In [15]:

display(df[:3])

,EVENT_ID,BGFIPS,geometry,EVENT_START_BOSTON,EVENT_END_BOSTON,CATEGORY,Date,Visits_Mobility
0,Q8qTSY8YLfHCpz65tE,60133390023,POINT (-122.064 37.9089),2021-12-04 06:00:00,2021-12-04 09:00:00,community,2021-12-04 06:00:00,12.0
1,Q8qTSY8YLfHCpz65tE,60133390023,POINT (-122.064 37.9089),2021-12-04 06:00:00,2021-12-04 09:00:00,community,2021-12-04 07:00:00,25.0
2,Q8qTSY8YLfHCpz65tE,60133390023,POINT (-122.064 37.9089),2021-12-04 06:00:00,2021-12-04 09:00:00,community,2021-12-04 08:00:00,36.0

In [14]:
result = df.groupby(['DAY_OF_WEEK', 'START_HOUR', 'BGFIPS']).agg(
    TOTAL_VISITS=('Visits_Mobility', 'sum'),
    AVG_VISITS=('Visits_Mobility', 'mean'),
    EVENTS_COUNT=('EVENT_ID', 'count')  # Count the number of events
).reset_index()

KeyError: 'DAY_OF_WEEK'

In [ ]:
df